[Unit]
Description=Commute times web server
After=network.target

[Service]
User=akaiser
ExecStart=/home/akaiser/.virtualenvs/commute_times/bin/python /home/akaiser/dev/commute_times/web.py
Restart=always

[Install]
WantedBy=multi-user.target
