[Unit]
Description=Commute times web server
After=network.target

[Service]
User=akaiser
ExecStart=/bin/bash -c 'cd /home/akaiser/dev/commute_times; /home/akaiser/.nvm/versions/node/v12.16.2/bin/node app.js'
Restart=always

[Install]
WantedBy=multi-user.target
