[Unit]
Description=Commute times web server
After=network.target

[Service]
User=akaiser
ExecStart=/bin/bash -c 'cd /home/akaiser/dev/commute_times; source ~/.virtualenvs/commute_times/bin/activate; python web.py'
Restart=always

[Install]
WantedBy=multi-user.target
